* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


header .box {
  height: 80px;
  background-color: #24292e;;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 15px;
}

header h1 {
  color: #ca0403;
  font-size: 50px;
}

.back {
  background-color: black;
}

.container {
  min-height: calc(100vh - 80px);
  max-width: 90vw;
  padding: 25px 5px 25px 20px;
  /* display: flex;
  flex-wrap: wrap; */
  margin: 0 auto;
  /* justify-content: center; */
}

.b {
  color: white;
  list-style: none;
  overflow-y: hidden;
}

.y {
  color: #effd5f;
}

.item {
  float: left;
  width: 200px;
  height: 280px;
  margin-bottom: 10px;
  position: relative;
  overflow:hidden;
  object-fit: cover;
}

.item:hover .overlay {
  display: block;
}

.overlay {
  display: none;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 278px;
  width: 185px;
  background-color: rgba(5, 5, 5, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
}

.flag img{
  height: 20px;
  width: 22px;
  margin-bottom: -5px;
}
